  body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: Tahoma;
  }
  
  #game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin: auto;
    height: 100vh;
  }
  
  #game-intro img{
    margin: 100px 0px 100px 0px;
    width: 400px;
  }

  #game-container {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 20px 0px;
    justify-content: center;
    background-color: rgba(0, 21, 255, 0.622);
    overflow: hidden;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/game-background-mario.jpeg);
    background-size: cover;
    left: 25%;
    margin-top: 50px;
    animation: slide 4s linear infinite;
    border: 4px solid white;
    border-radius: 10px;
  }
  
  @keyframes slide {
    0% {
      background-position: 960px 0;
    }
  }

  #stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #stats p{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    font-size: 20px;
    font-weight: 900;
    border: 4px solid white;
    background-color: #5D94FB;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }

  #game-end {
    display: none;
  }
  
  body button {
    font-size: 30px;
    background-color: red;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .flipped {
    transform: scaleX(-1);
    transition: all 0s;
  }