  
  body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: Tahoma;
  }
  
  #game-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin: auto;
    height: 100vh;
  }
  
  #game-intro img{
    margin: 0px 0px 100px 0px;
    width: 400px;
  }

  #start-button{
    margin-right: 40px;
  }

  .instructions{
    display: none;
  }

  #instructions{
    background-color: white;
    width: 600px;
    font-size: 20px;
    padding: 5px 20px;
    margin:40px;
    font-weight: 700;
    border: 4px solid red;
    line-height: 40px;
  }

  #game-container {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 20px 0px;
    justify-content: center;
    background-color: rgba(0, 21, 255, 0.622);
    overflow: hidden;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/game-background-mario.jpeg);
    background-size: cover;
    left: 25%;
    margin-top: 50px;
    animation: slide 4s linear infinite;
    border: 4px solid white;
    border-radius: 10px;
  }
  
  @keyframes slide {
    0% {
      background-position: 960px 0;
    }
  }

  #stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .stats-par{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    font-size: 20px;
    font-weight: 900; 
    border-radius: 10px;
    padding: 10px;
  }

  #score-par{
    position: relative;
    left: 160px;
    border: 4px solid white;
    background-color: #5D94FB;
    color: white;
  }

  #level-par{
    position: relative;
    left: 160px;
    border: 4px solid #5D94FB;
    background-color: white;
    color: #5D94FB;
  }
  
  #game-end {
    display: none;
    height: 100%;
    width: 100vw;
    background-color: aqua;
  }
  
  body button {
    font-size: 30px;
    background-color: red;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .flipped {
    transform: scaleX(-1);
    transition: all 0s;
  }

  .heart{
    width: 50px;
    position: relative;
    top: 60px;
    right: 120px;
  }

  #hearts-par{
    display: flex;
  }
  
  #game-end img{
    width: 300px;
    margin: 70px
  }

  #game-end > span{
    font-weight: 900;
    font-size: 30px;
    margin: 100px;
    padding: 30px;
    border: 4px dashed white;
    background-color: #5D94FB;
    color: white;
  }

  #game-summary{
    margin: 70px 0px 50px 0px;;
    color: #5D94FB;
    font-size: 30px;
    font-weight: 900;
  }